.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 5px 15px;
}

.header-left-section{
  width: 180px;
}

@media(max-width: 800px){
  .header-left-section{
    width: unset;
  }
}

.header-link{
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer;
}

.candy-logo{
  width: 100px;
  margin-top: 8px;
}

.candy-logo-mobile{
  display:none ;
}

@media(max-width: 575px){
  .candy-logo{
    display: none;
  }
  .candy-logo-mobile{
   display: block;
   width: 50px;
   margin-top: 5px;
  }
}

.header-middle-section{
  flex: 1;
  max-width: 850px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.search-bar{
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px; 
  border-radius: 4px;
  border: 1px solid rgb(243, 159, 159);
}

.search-button{
  background-color:transparent;
  border: none;
  width:45px ;
  flex-shrink: 0;
}

.search-icon{
  height: 30px;
  margin-bottom:3px ;
  color: rgb(243, 159, 159);
}

.header-right-section{
  width: 190px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.orders-link{
  color: white;
}

.returns-orders-text{
  margin-top: 10px;
  font-size: 18px;
}

.cart-link{
 color: white;
 display: flex;
 align-items: center;
 position: relative;
}

.cart-icon{
  width: 45px;
}

.cart-text{
  font-size: 15px;
  color: rgb(243, 159, 159);
  font-weight: 700;
}

.cart-quantity{
  color: rgb(243, 159, 159);
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 22px;
  bottom: 40px;
}

.user-icon{
  width: 30px;
  margin-top: 10px;
}