body {
  font-family: Roboto, Arial;
  margin: 0;
  color: rgb(0, 0, 0);
}
.main {
  margin-top: 70px;
  background-color: rgb(255, 235, 239);
  padding: 10px 20px;
}
p {
  color: rgb(243, 159, 159);
  margin: 0px;
}
button {
  cursor: pointer;
}

input,
select,
button {
  font-family: Roboto, Arial;
}

.button-primary {
  background-color: pink;
  border: 1px solid plum;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px lightcoral;
}

.button-primary:hover {
  background-color: rgb(252, 162, 177);
}

.button-primary:active {
  background-color: pink;
  border: 1px solid plum;
  box-shadow: none;
}

.button-secondary {
  background-color: palevioletred;
  border: 1px solid rgb(170, 87, 114);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px lightcoral;
}

.button-secondary:hover {
  background-color: rgb(216, 0, 72);
}
.button-secondary:active {
  background-color: palevioletred;
  border: 1px solid rgb(170, 87, 114);
  box-shadow: none;
}

.link-primary {
  color: rgb(107, 189, 216);
  cursor: pointer;
}
.link-primary:hover {
  color: rgb(228, 79, 79);
}
select {
  color: rgb(255, 72, 133);
  border: 1px solid palevioletred;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  padding: 3px 5px;
}

select:focus,
input:focus {
  outline: 2px solid palevioletred;
}
