.checkout-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 0 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.header-content {
  width: 100%;
  display: flex;
  max-width: 1100px;
  align-items: center;
}
.checkout-header-left-section {
  width: 150px;
}

@media (max-width: 575px) {
  .checkout-header-left-section {
    width: auto;
  }
}
.checkout-header-middle-section {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  flex-shrink: 0;
}
.return-to-home-link {
  text-decoration: none;
  color: palevioletred;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .checkout-header-middle-section {
    font-size: 20px;
    margin-right: 60px;
  }
  .return-to-home-link {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .checkout-header-middle-section {
    margin-right: 10px;
  }
}
.checkout-header-right-section {
  width: 150px;
  text-align: right;
}
@media (max-width: 1000px) {
  .checkout-header-right-section {
    width: auto;
  }
}
